<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Main Test Suite" verbose="2" parallel="tests">
<!-- 	<test name="TestNG Test FireFox"> -->
<!-- 	<parameter name="browser" value="firefox" /> -->
<!-- 		<classes> -->
<!-- 			<class name="selenium.web.test.Webtest" /> -->
<!-- 		</classes> -->
<!-- 	</test> -->
	<test name="TestNG Test Chrome">
	<parameter name="browser" value="chrome" />
		<classes>
			<class name="selenium.web.test.Webtest" />
		</classes>
	</test>
<!--    <test name="TestNG Test Internet Exploer"> -->
<!--    <parameter name="browser" value="internet explorer" /> -->
<!--       <classes> -->
<!--          <class name="selenium.web.test.Webtest" /> -->
<!--       </classes> -->
<!--    </test> -->
</suite>